{% extends 'dashboard/base0.html' %} {% block mainContent %}
      <div class="content">
        <div class="row">
                <div class="card card-chart">
                    <div class="card-header">
                      <h4 class="card-title"> Dark5ff Status</h4>
                    </div>
                    <div class="card-body">
                        <div style="overflow:scroll; width:100%; height:150px;" id='process-log'></div>
                    </div>
                </div>
        </div>

        <div class="row">
          <div class="card card-chart">
            <div class="card-header ">
              <div class="row">
                <div class="col-sm-6 text-left">
                  <h5 class="card-category">Total Shipments</h5>
                  <h2 class="card-title">Performance</h2>
                </div>
              </div>
            </div>
            <div class="card-body">
              <div class="chart-area">
                <canvas id="chartBig1"></canvas>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="card card-tasks">
            <div class="card-header">
              <h4 class="card-title"> Detected Table</h4>
            </div>
            <div class="card-body">
              <div class="table-full-width table-responsive">
                <table class="table tablesorter " id="">
                  <thead class="text-primary">
                    <tr>
                      <th>
                        Title
                      </th>
                      <th>
                        Url
                      </th>
                      <th>
                        ContentLength
                      </th>
                      <th>
                        Keyword
                      </th>
                      <th>
                        Referer
                      </th>
                      <th>
                        Status
                      </th>
                      <th>
                        Time
                      </th>
                    </tr>
                  </thead>
                  <tbody id="detect">
                    {% for detect in detecteds %}
                    <tr>
                        <td>{{ detect.title }}</td>
                        <td><a href="/detail/?key={{ detect.onion_http_hash }}">{{ detect.onion_http }}</a></td>
                        <td>{{ detect.content_length }} </td>
                        <td> {{ detect.keyword.keyword }}</td>
                        <td> {{ detect.crawlerName }}</td>
                        <td> {{ detect.status_code }}</td>
                        <td> {{ detect.created_at }} </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-4">
            <div class="card card-chart">
              <div class="card-header">
                <h5 class="card-category">Network Packet</h5>
                <h3 class="card-title"><i class="tim-icons icon-bell-55 text-primary"></i> 76,321</h3>
              </div>
              <div class="card-body">
                <div class="chart-area">
                  <canvas id="chartLinePurple"></canvas>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="card card-chart">
              <div class="card-header">
                <h5 class="card-category">Hard disk capacity</h5>
                <h3 class="card-title"><i class="tim-icons icon-send text-success"></i> Now: 12GB</h3>
              </div>
              <div class="card-body">
                <div class="chart-area">
                  <canvas id="chartLineGreen"></canvas>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="card card-chart">
              <div class="card-header">
                <h5 class="card-category">Detected by Cralwer</h5>
                <h3 class="card-title"><i class="tim-icons icon-delivery-fast text-info"></i> Total : 25,431</h3>
              </div>
              <div class="card-body">
                <div class="chart-area">
                  <canvas id="CountryChart"></canvas>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    {% endblock %}

{% block scriptContent %}
  <!--   Core JS Files   -->
  <script src="/static/assets/js/core/jquery.min.js"></script>
  <script src="/static/assets/js/core/popper.min.js"></script>
  <script src="/static/assets/js/core/bootstrap.min.js"></script>
  <script src="/static/assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>
  <!--  Google Maps Plugin    -->
  <!-- Place this tag in your head or just before your close body tag. -->
  <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
  <!-- Chart JS -->
  <script src="/static/assets/js/plugins/chartjs.min.js"></script>
  <!--  Notifications Plugin    -->
  <script src="/static/assets/js/plugins/bootstrap-notify.js"></script>
  <!-- Control Center for Black Dashboard: parallax effects, scripts for the example pages etc -->
  <script src="/static/assets/js/black-dashboard.min.js?v=1.0.0"></script><!-- Black Dashboard DEMO methods, don't include it in your project! -->
  <script src="/static/assets/demo/demo.js"></script>
  <script src="/static/assets/demo/graph.js"></script>
<!--  <script src="/static/assets/demo/table.js"></script>-->

  <script>
    $(document).ready(function() {
      $().ready(function() {
        $sidebar = $('.sidebar');
        $navbar = $('.navbar');
        $main_panel = $('.main-panel');

        $full_page = $('.full-page');

        $sidebar_responsive = $('body > .navbar-collapse');
        sidebar_mini_active = true;
        white_color = false;

        window_width = $(window).width();

        fixed_plugin_open = $('.sidebar .sidebar-wrapper .nav li.active a p').html();



        $('.fixed-plugin a').click(function(event) {
          if ($(this).hasClass('switch-trigger')) {
            if (event.stopPropagation) {
              event.stopPropagation();
            } else if (window.event) {
              window.event.cancelBubble = true;
            }
          }
        });

        $('.fixed-plugin .background-color span').click(function() {
          $(this).siblings().removeClass('active');
          $(this).addClass('active');

          var new_color = $(this).data('color');

          if ($sidebar.length != 0) {
            $sidebar.attr('data', new_color);
          }

          if ($main_panel.length != 0) {
            $main_panel.attr('data', new_color);
          }

          if ($full_page.length != 0) {
            $full_page.attr('filter-color', new_color);
          }

          if ($sidebar_responsive.length != 0) {
            $sidebar_responsive.attr('data', new_color);
          }
        });

        $('.switch-sidebar-mini input').on("switchChange.bootstrapSwitch", function() {
          var $btn = $(this);

          if (sidebar_mini_active == true) {
            $('body').removeClass('sidebar-mini');
            sidebar_mini_active = false;
            blackDashboard.showSidebarMessage('Sidebar mini deactivated...');
          } else {
            $('body').addClass('sidebar-mini');
            sidebar_mini_active = true;
            blackDashboard.showSidebarMessage('Sidebar mini activated...');
          }

          // we simulate the window Resize so the charts will get updated in realtime.
          var simulateWindowResize = setInterval(function() {
            window.dispatchEvent(new Event('resize'));
          }, 180);

          // we stop the simulation of Window Resize after the animations are completed
          setTimeout(function() {
            clearInterval(simulateWindowResize);
          }, 1000);
        });

        $('.switch-change-color input').on("switchChange.bootstrapSwitch", function() {
          var $btn = $(this);

          if (white_color == true) {

            $('body').addClass('change-background');
            setTimeout(function() {
              $('body').removeClass('change-background');
              $('body').removeClass('white-content');
            }, 900);
            white_color = false;
          } else {

            $('body').addClass('change-background');
            setTimeout(function() {
              $('body').removeClass('change-background');
              $('body').addClass('white-content');
            }, 900);

            white_color = true;
          }


        });

        $('.light-badge').click(function() {
          $('body').addClass('white-content');
        });

        $('.dark-badge').click(function() {
          $('body').removeClass('white-content');
        });
      });
    });
  </script>
  <script>
    $(document).ready(function() {
      // Javascript method's body can be found in assets/js/demos.js
      gr.initDashboardPageCharts();
      gr.makeLargeGraph();
      gr.makeBlueGraph();
      gr.makeGreenGraph();
      gr.makePurpleGraph();
      demo.AddData();
      tb.detectList();


    });
  </script>
  <script src="https://cdn.trackjs.com/agent/v3/latest/t.js"></script>
  <script>
    window.TrackJS &&
      TrackJS.install({
        token: "ee6fab19c5a04ac1a32a645abde4613a",
        application: "black-dashboard-free"
      });
  </script>

  <script>
  const setBg = () => {
      const randomColor = Math.floor(Math.random()*16777215).toString(16);
      var colorTest = "#" + randomColor;
      return colorTest;
    }

</script>



    <script>
    let ws = new WebSocket('ws://192.168.163.4:8765')
	var log = document.getElementById('logger')
    var para = document.createElement("p");
	ws.addEventListener('message', function (event) {
        if(event.data == "ping"){
            ws.send("pong");
        }
        else {

            var splitData = event.data.split("\n");
            splitData= splitData.slice(0,-1);
            if( splitData.length > 1) {
                setTimeout(function(){
                    for (var line in splitData){
                        var paragraph = document.createElement("p");
                        paragraph.textContent = splitData[line];
                        paragraph.style.color = setBg();
                        $('#process-log').append(paragraph);
                        var $textarea = $('#process-log');
                        $('#process-log').scrollTop($('#process-log')[0].scrollHeight);
                    }},500);
                }
            }
	});		

    </script>
{% endblock %}
